[submodule "src/jaspColumnEncoder"]
	path = src/jaspColumnEncoder
	url = https://github.com/jasp-stats/jaspColumnEncoder
	branch = master
[submodule "src/jsoncpp"]
	path = src/jsoncpp
	url = https://github.com/open-source-parsers/jsoncpp
	branch = master
